.main-wrapper {
  display: flex;
  position: relative;
  /* right: 500px; */
}

.acg {
  position: absolute;
  top: 410px;
  left: 221px;
  font-size: 15pt;
}

.circle {
  position: absolute;
  left: 302px;
  top: 433px;
  background: #252525;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  cursor: help;
  filter: drop-shadow(0.3px 1px 0.4px #765113);
}

.marker {
  position: absolute;
}

.markers img:hover {
  filter: drop-shadow(2px 2px 1px #ffffff);
  transform: scale(1.3);
}

.markers img {
  width: 25px;
  cursor: help;
  filter: drop-shadow(2px 2px 1px #765113);
}

.ACmark > a {
  text-decoration: none;
  color: black;
  font-size: 40pt;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #f1ebde;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 45px;
  background-color: #e5c89b;
  border-style: hidden;
  margin: 10px;
  /* margin-bottom: 40px; */
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.filters {
  align-self: center;
  height: auto;
}

.GS img{
  height: 20px;
  width: 20px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #e5c89b;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.yf {
  display: flex;
  flex-direction: row;
}
.yt {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
}

.yt span {
  font-size: 15pt;
  position: relative;
  left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.yearfilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  background-color: #e5c89b;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style-type: none;
  font-size: 15pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li img {
  width: 35px;
}

.main-map > img {
  width: 450px;
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.main-map {
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.hide {
  display: none;
}

.ntheme {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  color: black;
}
.filters li {
  position: relative;
}
.filter-button__listik {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 2;
  left: 100px;
}
.filter-button--active ~ .filter-button__listik {
  display: block;
}
.filter-button__listik li {
  margin-right: 10px;
  padding: 0;
}
.filter-button__listik li:last-child {
  margin: 0;
}
.filter-button__listik button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background: #e5c89b;
  cursor: pointer;
}
.filter-button__listik ul {
  display: flex;
  padding: 0;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f3c372 solid;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: #f3c372;
  opacity: 0%;
}

.ACmark {
  position: absolute;
  left: 135px;
  top: 11px;
  font-size: 35pt;
  cursor: default;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SR:nth-child(1) {
  top: 337px;
  left: 237px;
}

.GS:nth-child(1) {
  top: 157px;
  left: 460px;
}

.GS:nth-child(2) {
  top: 149px;
  left: 498px;
}

.GS:nth-child(3) {
  top: 255px;
  left: 362px;
}

.GS:nth-child(4) {
  top: 238px;
  left: 356px;
}

.GS:nth-child(5) {
  top: 220px;
  left: 348px;
}
.GS:nth-child(6) {
  top: 201px;
  left: 363px;
}
.GS:nth-child(7) {
  top: 196px;
  left: 331px;
}
