
.main-wrapper {
  position: relative;
  display: flex;
}

.markers img:hover {
  filter: drop-shadow(2px 2px 1px #ffffff);
  transform: scale(1.3);
}

.main-map > img {
  justify-content: start;
}

.hide {
  display: none;
}

.filter-button {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 209, 148);
  border-style: hidden;
  margin: 10px;
  cursor: grabbing;
  border-radius: 8px;
}

li {
  list-style-type: none;
}

li img {
  width: 20px;
}

.main-items span {
  position: absolute;
}

.main-wrapper {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}

.marker {
  position: absolute;
}

.markers {
  position: relative;
  right: 600px;
  top: -300px;
}

.markers img {
  width: 40px;
  cursor: help;
  filter: drop-shadow(2px 2px 1px #765113);
}

.ACmark > a {
  text-decoration: none;
  color: black;
  font-size: 9pt;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #f1ebde;
  /* height: 100vh; */
  position: relative;
  top: 70px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 45px;
  background-color: #e6d7bb;
  border-style: hidden;
  margin: 10px;
  /* margin-bottom: 40px; */
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.filters {
  align-self: center;
  height: auto;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #e6d7bb;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.yf {
  display: flex;
  flex-direction: row;
}
.yt {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
}

.yt span {
  font-size: 15pt;
  position: relative;
  left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.yearfilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  background-color: #e6d7bb;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style-type: none;
  font-size: 15pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li img {
  width: 35px;
}

.main-map > img {
  width: 450px;
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.main-map {
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.hide {
  display: none;
}

.ntheme {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  color: black;
}

.acg {
  position: absolute;
  top: 223px;
  left: 243px;
  font-size: 15pt;
}

.circle {
  background: #222222;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  cursor: help;
  filter: drop-shadow(0.3px 1px 0.4px #765113);
  top: 249px;
  left: 240px;
  position: absolute;
}

.filters li {
  position: relative;
}
.filter-button__listik {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 2;
  left: 100px;
}
.filter-button--active ~ .filter-button__listik {
  display: block;
}
.filter-button__listik li {
  margin-right: 10px;
  padding: 0;
}
.filter-button__listik li:last-child {
  margin: 0;
}
.filter-button__listik button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background: #e6d7bb;
  cursor: pointer;
}
.filter-button__listik ul {
  display: flex;
  padding: 0;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f3c372 solid;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: #f3c372;
  opacity: 0%;
}

.ACmark {
  position: absolute;
  width: 600px;
  left: 180px;
  top: -97px;
  cursor: default;
  font-size: 35pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.GS img {
  height: 20px;
  width: 20px;
}

a[title]:hover {
  color: #0f72c9;
}

.DS:nth-child(1) {
  top: 131px;
  left: 339px;
}

.DS:nth-child(2) {
  top: 85px;
  left: 310px;
}

.W:nth-child(1) {
  top: 270px;
  left: 240px;
}

.W:nth-child(2) {
  top: 281px;
  left: 288px;
}

.SR:nth-child(1) {
  top: 450px;
  left: 370px;
}

.SR:nth-child(2) {
  top: 330px;
  left: 400px;
}

.SR:nth-child(3) {
  top: 240px;
  left: 460px;
}

.SR:nth-child(4) {
  top: 220px;
  left: 160px;
}

.SR:nth-child(5){
  top: 290px;
  left: 170px;
}

.GS:nth-child(1) {
  top: 420px;
  left: 400px;
}

.GS:nth-child(2) {
  top: 260px;
  left: 440px;
}

.GS:nth-child(3) {
  top: 250px;
  left: 270px;
}

.GS:nth-child(4) {
  top: 280px;
  left: 220px;
}

.GS:nth-child(5) {
  top: 285px;
  left: 193px;
}

.GS:nth-child(6) {
  top: 250px;
  left: 180px;
}

.GS:nth-child(7) {
  top: 150px;
  left: 180px;
}
