.main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-wrapper {
  position: relative;
  display: flex;
  top: 150px;
}

.markers img:hover {
  filter: drop-shadow(2px 2px 1px #ffffff);
  transform: scale(1.3);
  cursor: help;
}

.main-map > img {
  justify-content: start;
}

.main-items img {
  width: 26px;
  cursor: help;
  filter: drop-shadow(2px 2px 1px #765113);
}

.hide {
  display: none;
}

.filter-button {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 209, 148);
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.yf {
  display: flex;
  flex-direction: row;
}
.yt {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
}

.yt span {
  font-size: 15pt;
  position: relative;
  left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.yearfilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  background-color: #ebd3ab;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style-type: none;
}

li img {
  width: 20px;
}

.main-items span {
  position: absolute;
}

.main-wrapper {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
}

.marker {
  position: absolute;
}

.markers img {
  width: 40px;
}

.ACmark > a {
  text-decoration: none;
  color: black;
  font-size: 9pt;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #f1ebde;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 45px;
  background-color: #ebd3ab;
  border-style: hidden;
  margin: 10px;
  /* margin-bottom: 40px; */
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.filters {
  align-self: center;
  height: auto;
  
  position: relative;
  top: 150px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ebd3ab;
  border-style: hidden;
  margin: 10px;
  cursor: grabbing;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style-type: none;
  font-size: 15pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li img {
  width: 35px;
}

.main-map > img {
  width: 450px;
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.main-map {
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.hide {
  display: none;
}

.ntheme {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  color: black;
}
.filters li {
  position: relative;
}
.filter-button__listik {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 2;
  left: 100px;
}
.filter-button--active ~ .filter-button__listik {
  display: block;
}
.filter-button__listik li {
  margin-right: 10px;
  padding: 0;
}
.filter-button__listik li:last-child {
  margin: 0;
}
.filter-button__listik button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background: #ebd3ab;
  cursor: pointer;
}
.filter-button__listik ul {
  display: flex;
  padding: 0;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f3c372 solid;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: #f3c372;
  opacity: 0%;
}
.acg {
  position: absolute;
  top: 142px;
  left: 293px;
  font-size: 15pt;
}
.circle {
  position: absolute;
  left: 369px;
  top: 159px;
  background: #202020;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  cursor: help;
  filter: drop-shadow(0.3px 1px 0.4px #765113);
}

.GS img {
  height: 20px;
  width: 20px;
}

.ACmark {
  position: absolute;
  left: 125px;
  top: -135px;
  font-size: 35pt;
  cursor: default;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.DS:nth-child(1) {
  top: 131px;
  left: 339px;
}

.DS:nth-child(2) {
  top: 85px;
  left: 310px;
}

.W:nth-child(1) {
  top: 430px;
  left: 438px;
}

.W:nth-child(2) {
  top: 281px;
  left: 288px;
}

.SR:nth-child(1) {
  top: 303px;
  left: 290px;
}

.SR:nth-child(2) {
  top: 103px;
  left: 437px;
}

.SR:nth-child(3) {
  top: 175px;
  left: 350px;
}

.SR:nth-child(4) {
  top: 196px;
  left: 340px;
}

.GS:nth-child(1) {
  top: 176px;
  left: 386px;
}

.GS:nth-child(2) {
  top: 206px;
  left: 360px;
}

.GS:nth-child(3) {
  top: 184px;
  left: 446px;
}
