.main-wrapper {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  top: -100px;
}

.marker {
  position: absolute;
}

.markers img:hover {
  filter: drop-shadow(2px 2px 1px #ffffff);
  transform: scale(1.3);
}

.markers img {
  width: 28px;
  cursor: help;
  filter: drop-shadow(2px 2px 1px #765113);
}

.ACmark > a {
  text-decoration: none;
  color: black;
  font-size: 9pt;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: #f1ebde;
  position: relative;
  top: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 45px;
  background-color: #f2cfa4;
  border-style: hidden;
  margin: 10px;
  /* margin-bottom: 40px; */
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.filters {
  align-self: center;
  height: auto;
  min-height: 649px;
}

.filter-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #f2cfa4;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  list-style-type: none;
  font-size: 15pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li img {
  width: 35px;
}

.main-map > img {
  width: 450px;
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.main-map {
  margin: 30px;
  padding: 10px;
  align-self: center;
}

.hide {
  display: none;
}

.ntheme {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 15pt;
  color: black;
}
.filters li {
  position: relative;
}
.filter-button__listik {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 2;
  left: 100px;
}
.filter-button--active ~ .filter-button__listik {
  display: block;
}
.filter-button__listik li {
  margin-right: 10px;
  padding: 0;
}
.filter-button__listik li:last-child {
  margin: 0;
}
.filter-button__listik button {
  width: 70px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  background: #f2cfa4;
  cursor: pointer;
}
.filter-button__listik ul {
  display: flex;
  padding: 0;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #f3c372 solid;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  background-color: #f2cfa4;
  opacity: 0%;
}

.yf {
  display: flex;
  flex-direction: row;
}
.yt {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
}

.yt span {
  font-size: 15pt;
  position: relative;
  left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.yearfilter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  background-color: #f2cfa4;
  border-style: hidden;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.acg {
  position: absolute;
  top: 298px;
  left: 273px;
  font-size: 15pt;
}
.circle {
  position: absolute;
  left: 258px;
  top: 305px;
  background: #131313;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  cursor: help;
  filter: drop-shadow(0.3px 1px 0.4px #765113);
}

.ACmark {
  position: absolute;
  left: 105px;
  top: 15px;
  font-size: 35pt;
  cursor: default;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.GS img{
  height: 20px;
  width: 20px;
}

a[title]:hover {
  color: #0f72c9;
}
.GS:nth-child(1) {
  left: 370px;
  top: 394px;
}
.GS:nth-child(2) {
  left: 164px;
  top: 326px;
}
.GS:nth-child(3) {
  left: 305px;
  top: 259px;
}
.GS:nth-child(4) {
  left: 240px;
  top: 324px;
}
.GS:nth-child(5) {
  left: 223px;
  top: 302px;
}
.GS:nth-child(6) {
  left: 188px;
  top: 300px;
}
.W:nth-child(1) {
  left: 234px;
  top: 286px;
}
.SR:nth-child(1) {
  left: 311px;
  top: 394px;
}

.SR:nth-child(2) {
  left: 174px;
  top: 306px;
}
.SR:nth-child(3) {
  left: 325px;
  top: 239px;
}
.SR:nth-child(4) {
  left: 215px;
  top: 313px;
}
